body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
.sec-first {
    margin-bottom: 30px;
    overflow: auto;
}
.top-header {
    color: #363958;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0;
}
.top-header-highlighted {
    color: #FF8367;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.para {
    color: #3E3E3E;
    text-transform: lowercase;
    font-weight: 300;
    padding-right: 30%;
}
button {
    background-color: #F96D61;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
.intro {
    width: 40%;
    float: left;
    padding-left: 10%;
    padding-top: 4%;
}
.intro-photo {
    width: 40%;
    float: left;
    padding-right: 10%;
    padding-top: 4%;
}
.intro-photo img {
    width: 70%;
    padding-left: 15%;
}
.about-header {
    color: #363958;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}
.sec-second {
    float: left;
    clear: right;
    margin-bottom: ;
    overflow: auto;
    margin-bottom: 100px;
}
.sec-third{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    float: left;
    clear: right;
    overflow: auto;
    background-color: #F8F9FC;
    padding-bottom: 130px;
}
.sec-third p {
    font-size: 8px;
    font-weight: 100;
    color: #909090;
}
.sec-third h4 {
    font-size: 10px;
    font-weight: 600;
    color: #363958;
}
.project {
    width: 25%;
    float: left;
    overflow: auto;
    margin: 2%;
    padding: 5px;
    border: 10px solid white;
    border-radius: 10px;
}
.project img {
    width: 100%;
}
.project-wrapper {
    padding: 15%;
    padding-top: 30px;
}
.project-header {
    padding-top: 50px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-size: 30px;
}
.highlighted {
    color: #F46060;
}
.sec-third h3 {
    text-align: center;
}
.clear {
    clear: both;
}
.inquiry {
    background-image: url("img/34.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
}
.text {
    float: left;
    color: white;
    font-size: 35px;
    padding-left: 30px;
}
.btn {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
}
.contact {
    text-align: center;
    color: #363958;
    font-weight: 300;
}
.connect {
    text-align: center;
    color: #696871;
    font-size: 12px;
}
